---
import Layout from '../layouts/Layout.astro';
import BtnQuest  from '../components/BtnQuest.tsx';
import  Demo  from '../components/Demo.tsx';
import  DemoRadio  from '../components/ui/radio/DemoRadio.tsx';
import AlertSuccess from '../components/AlertSuccess.tsx';
import BtnResults from '../components/BtnResults.tsx';
---
<Layout>
	<AlertSuccess client:load />
	<h1>Bienvenido a la  Prueba Técnica</h1>
	<BtnQuest />
	
	<!-- Demos de componentes para RadioButton
	<Demo client:load /> ChakraUI
	<DemoRadio /> Propio
	-->

	<BtnResults client:load />
	<footer>Realizado por Cristian David Moreno Rivera</footer>
</Layout>
<style>
	/* Estilos generales para el layout */
	body {
	  font-family: 'Arial', sans-serif;
	  color: #333;
	  margin: 0;
	  padding: 0;
	}
  
	h1 {
	  font-size: 2.5rem;
	  font-weight: 700;
	  color: #2b6cb0;
	  margin-bottom: 1.5rem;
	  text-align: center;
	  text-transform: uppercase;
	  letter-spacing: 2px;
	  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
	}
  
	footer {
	  font-size: 1rem;
	  font-weight: bold;
	  color: #666;
	  text-align: center;
	  margin-top: 3rem;
	  padding: 1rem;
	  background-color: transparent;
	  border-top: 2px solid #000000;
	  box-shadow: 0 -2px 5px rgba(0, 0, 0, 1);
	}
  
	footer a {
	  color: #2b6cb0;
	  text-decoration: none;
	}
  
	footer a:hover {
	  text-decoration: underline;
	}
  </style>